<div class="container align-items-center" id="cusW">
    <ul id="list">
        {{#each reports as |report|}}
        <li class="text" id="{{report.id}}">
            <div class="titleBar row justify-content-between">
                <h1 class="col text-start">{{report.title}}</h1>
                <!-- idea to make color change base on 'pending', 'resolvded', 'closed' -->
                <h1 class="col text-end {{report.status}}">{{report.status}}</h1>
            </div>
            <div class="infoBody" hidden>
                <p>{{report.content}}</p>
                <p class="text-end names mb-0">Reported by: <b> {{report.user.first_name}} {{report.user.last_name}}</b></p>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
<script src="./js/list.js"></script>